{lib_dirs, ["deps", "deps/jsx/deps/","deps/ex_uri/deps"]}.
{erl_opts, [debug_info,
            {i,"deps/proper/include/"},
            {i,"deps/ex_uri/include/"}
           ]}.
{deps, [
        {misultin, ".*",
         {git, "git@git.in.trueex.com:deps/misultin.git",
          {tag, "b9fe3125cf17f4415a6d7fc60642b670f5e18eb8"}}},
        {ossp_uuid, ".*",
         {git, "git@git.in.trueex.com:deps/ossp_uuid.git",
          {tag, "dd2898b33256f3279488b611b0da1b10dadf3e2f"}}},
        {jsx, ".*",{git, "https://github.com/muxspace/jsx.git","master"}},
        {proper, ".*",
         {git, "git@git.in.trueex.com:deps/proper.git",
          {tag, "213bd739238ebdc019d17a9961544281a51f18da"}}},
        {ex_uri, ".*",
         {git, "git@git.in.trueex.com:deps/ex_uri.git",
          {tag, "6c7b38d9dea305815a2782985f6a246a0b360793"}}},
        {gproc, ".*",
         {git, "git@git.in.trueex.com:deps/gproc.git",
          {tag, "ece5f2a268aea3b92402bd7de002899e9afe3d12"}}} 
       ]}.